*, ::before, ::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;     /*    selecteur universel   , prendre en compte le remplissage , le padding et les bords dans le calcul de la largeur et de la longeurs des elements  */
}

html {
    scroll-behavior: smooth;              /* on ajoute un scrools smooth quand on va utiliser les liens  */
}
body{
    font-family: 'poppins',sans-serif;
    background: #f1f1f1;
}
.nav-gauche{
    width: 300px;  /* on va donner une largeur de 300 px  */
    height: 100vh; /* on va donner une hauteur de 100 view port heigt  */
    min-height: 800px; /* on va pouvoir réduire le menu jusqu'a 800 px  */
    background: #223483;
    position: fixed; 
    top: 0;
    left: 0; /*  on va fixer notre nav à gauche  */
    border-right: 1px #f1f1f1;
    z-index: 5;
}
/* 
on va ensuite styliser nos blocs menu  */
.blocs-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

.blocs-menu span {
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}
.blocs-menu span a {
    text-decoration: none;
    color: #f1f1f1;
}
.blocs-menu span::after {
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: #aaa;
    transition: all 0.2s ease-out;
}
.blocs-menu span:hover::after {
    width: 100%;
}